fixed header = nav top primary menu 

nav search and share menu (content same as header)


div: cover-news:
left-column biggest div of the page
right-column disappears on tablet= a list of links (ul li a) "Latest headlines"


underneath: 2 articles with medium big pictures

underneath: 8 articles with small pictures

underneath: "In the magazine"= 4 articles with small pictures

underneath: black row: "The latest news in pictures"

underneath: "This week": "September Issue"
right-column= a list of links (ul li a) "Most read"

underneath: left-column: Newsweek 2017 Newsletter= "About us, Contact us, Privacy policy and so on"
bigger right-column: sharetools - sign up for the newsletter
same column, underneath: "Recent issues"
4 divs with picture
same column, underneath: Button "Browse Archives"