<!DOCTYPE html>
<html lang="en">
<head>
  <title>Newsweek Cover</title>
  <meta charset="utf-8">
  
</head>
<body>

<div class="container-fluid">

  <div class="row">
    <div class="col-lg-4 text-primary" style="background-color:lavender;">This is my biggest block</div>
    <div class="col-lg-4" style="background-color:pink;">This is my middle block</div>
    <div class="col-lg-4" style="background-color:orange;">This is my right block</div>
  </div>

</div>

</body>
</html>
